@import '~@angular/material/theming';
@import '../../themes/colours.scss';

@mixin landing-page-theme($theme) {
  .landing {
    background-image: url('../../assets/images/landing_page.jpg');
    width: 100%;
    height: 100vh;
    .card-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}


