<div class="order-form-wrapper">
  <div class="text">
    Book Title - <span>{{book.title}}</span>
  </div>
  <div class="text">
    Book price - <span>R{{book.price}}</span>
  </div>
  <div class="text authors-txt">
    <span>Authors</span>
  </div>
  <div *ngFor="let author of book.authors" class="text">
    <span>{{author.name}} {{author.surname}}</span>
  </div>
  <div>
    <img class="book-img" [src]="imgUrl" />
  </div>
  <div class="order-btn">
    <button mat-button>Order Book</button>
  </div>
</div>