@import '~@angular/material/theming';
@import '../../../themes/colours.scss';

@mixin order-book-theme($theme) {
  .order-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    .book-details{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 18%;
      .txt-undline{
        text-decoration: underline;
      }
    }
    .text{
      font-size: 1rem;
      font-weight: 400;
    }

    .book-img {
      width: 17.625rem;
      height: 28.125rem;
      margin: .725rem 0;
      img{
        width: 100%;
        height: auto;
      }
    }
    .order-btn{
      button{
        background: $blue-main;
        color: $white;
      }
    }
  }
}
