
$md-primary: (
    50 : #eff2f3,
    100 : #d6dde1,
    contrast: (
        50 : #000000,
        100 : #000000,
    )
);

$md-secondary: (
    50 : #fef9e6,
    100 : #fcf0c1,
    contrast: (
        50 : #000000,
        100 : #000000,
    )
);

$primary: mat-palette($md-primary);
$accent: mat-palette($md-secondary);
$warn: mat-palette($mat-red, 700);

$app-theme: mat-light-theme($primary, $accent, $warn);
